#show-contact {
    display: none;
}
.contact {
    cursor: pointer;
    color: #0088cc;
}
.contact:hover {
    text-decoration: underline;
}  
.row{
      display: flex;
      flex-direction: row;
}
.right{
     padding-left: 3vw;
}